{% extends 'base.html.twig' %}

{% block title %}Productos index{% endblock %}

{% block body %}
    <div class="container-fluid mt-4"
            {{ stimulus_controller('reload-content', {
                url: path('app_product_admin_index')
            }) }}
    >
        <div class="d-flex flex-row">
            <h1 class="me-3">Listado de Productos</h1>
            <div
                    {{ stimulus_controller('modal-form', {
                        formUrl: path('app_product_admin_new')
                    }) }}
                    data-action="hidden.bs.modal->modal-form#modalHidden"
            >
                <button class="btn btn-primary btn-sm"
                        data-action="modal-form#openModal"
                >
                    Agregar+
                </button>
                {{ include('_modal.html.twig', {
                    modalTitle: 'Agregar nuevo producto'
                }) }}
            </div>
        </div>
        <div data-reload-content-target="content">
            {{ include('product_admin/_list.html.twig') }}
        </div>

        <a href="{{ path('app_product_admin_new') }}">Crear nuevo producto</a>
    </div>
{% endblock %}
